<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>

<body>
    <div class="return">
        <div>
            <span>ERROR</span>
        </div>
        <div></div>
    </div>
    <div class="err__container">
        <div class="err__icon"><i class='bx bx-sad'></i></div>
        <div class="err__text">
            <h2 class="err__head">Error...</h2>
            <p class="err__info">
                You're no eligible to receive the bonus
            </p>
        </div>
    </div>
</body>

</html>